---
import { getLangFromUrl } from '@/i18n';
import OpinionCard from '@/molecules/OpinionCard.astro';
import { getCollection } from 'astro:content';

import 'keen-slider/keen-slider.min.css';
const lang = getLangFromUrl(Astro.url);
const opinions = await getCollection('opinions', ({ id }) =>
    id.startsWith(lang)
);
---

<div id="carousel" class="keen-slider">
    {
        opinions.map(opinion => (
            <div class="keen-slider__slide">
                <OpinionCard
                    company={opinion.data.companyName}
                    imgPath={opinion.data.companyLogo.src}
                    imgAlt={opinion.data.companyLogo.alt}
                    comment={opinion.body}
                    rating={opinion.data.rating}
                />
            </div>
        ))
    }
</div>
<style>
    .keen-slider__slide {
        height: auto;
        min-width: 555px;
        max-width: 555px;
        overflow: visible !important;
    }

    .keen-slider {
        overflow: visible !important;
    }

    @media (max-width: 768px) {
        .keen-slider {
            display: flex;
        }
        .keen-slider__slide {
            min-width: 90%;
            max-width: 90%;
            text-align: center;
        }
    }
</style>

<script>
    import { WheelControls } from '@/utils/wheelControls';
    import { AutoAdvance } from '@/utils/autoAdvance';
    import KeenSlider from 'keen-slider';
    import { SliderDots } from '@/utils/sliderDots';

    const switchTime = 3000;

    if (document.getElementById('carousel') !== null) {
        const slider = new KeenSlider(
            '#carousel',
            {
                loop: false,
                renderMode: 'performance',
                slides: {
                    perView: 'auto',
                    spacing: 32,
                },
            },
            [WheelControls, AutoAdvance(switchTime), SliderDots]
        );
    }
</script>
