---
import { getLangFromUrl } from '@/i18n';
import OpinionCard from '@/molecules/OpinionCard.astro';
import { getCollection } from 'astro:content';

import 'keen-slider/keen-slider.min.css';
const lang = getLangFromUrl(Astro.url);
const opinions = await getCollection('opinions', ({ id }) =>
    id.startsWith(lang)
);
---

<div id="carousel" class="keen-slider">
    {
        opinions.map(opinion => (
            <div class="keen-slider__slide">
                <OpinionCard
                    company={opinion.data.companyName}
                    imgPath={opinion.data.companyLogo.src}
                    imgAlt={opinion.data.companyLogo.alt}
                    comment={opinion.body}
                    rating={opinion.data.rating}
                />
            </div>
        ))
    }
</div>
<style>
    .keen-slider__slide {
        height: auto;
        min-width: 555px;
        max-width: 555px;
        overflow: visible !important;
    }

    .keen-slider {
        overflow: visible !important;
    }
</style>

<script>
    import { WheelControls } from '@/utils/wheelControls';
    import KeenSlider from 'keen-slider';

    const switchTime = 3000;

    if (document.getElementById('carousel') !== null) {
        const slider = new KeenSlider(
            '#carousel',
            {
                loop: false,
                renderMode: 'performance',
                slides: {
                    perView: 'auto',
                    spacing: 32,
                },
            },
            [
                slider => {
                    let timeout: any;
                    let mouseOver = false;
                    function clearNextTimeout() {
                        clearTimeout(timeout);
                    }
                    function nextTimeout() {
                        clearTimeout(timeout);
                        if (mouseOver) return;
                        timeout = setTimeout(() => {
                            if (
                                slider.track.details.position ===
                                slider.track.details.max
                            ) {
                                slider.moveToIdx(0);
                            } else {
                                slider.next();
                            }
                        }, switchTime);
                    }
                    slider.on('created', () => {
                        slider.container.addEventListener('mouseover', () => {
                            mouseOver = true;
                            clearNextTimeout();
                        });
                        slider.container.addEventListener('mouseout', () => {
                            mouseOver = false;
                            nextTimeout();
                        });
                        nextTimeout();
                    });
                    slider.on('dragStarted', clearNextTimeout);
                    slider.on('animationEnded', nextTimeout);
                    slider.on('updated', nextTimeout);
                },
                WheelControls,
            ]
        );
    }
</script>
