---
import { ThemedText, ThemedLink } from '@/atoms';
import { Icon } from 'astro-icon/components';

export interface Props {
	name: string;
	phone?: string;
	email: string;
}

const { name, phone, email } = Astro.props;
---

<div style="display: flex; flex-direction: column; gap: 8px;">
	<ThemedText>{name}</ThemedText>
	{
		phone && (
			<ThemedLink href={`tel:${phone}`} color="#0B3D59">
				<Icon name="solar:phone-rounded-linear" slot="beforeIcon" />
				{phone}
			</ThemedLink>
		)
	}
	<ThemedLink href={`mailto:${email}`} color="#0B3D59">
		<Icon name="solar:letter-linear" slot="beforeIcon" />{email}
	</ThemedLink>
</div>
