---
import { ThemedText, ThemedLink } from '@/atoms';
import type { Color } from '@/types';
import { Icon } from 'astro-icon/components';

export interface Props {
    title?: string;
    name: string;
    phone?: string;
    email: string;
    linkColor?: Color;
}

const { name, phone, email, linkColor, title } = Astro.props;
---

<div style="display: flex; flex-direction: column; gap: 8px;">
    {
        title && (
            <ThemedText variant="h6" bold>
                {title}
            </ThemedText>
        )
    }
    <ThemedText>{name}</ThemedText>
    {
        phone && (
            <ThemedLink href={`tel:${phone}`} color={linkColor || '#0B3D59'}>
                <Icon name="solar:phone-rounded-linear" slot="beforeIcon" />
                {phone}
            </ThemedLink>
        )
    }
    <ThemedLink href={`mailto:${email}`} color={linkColor || '#0B3D59'}>
        <Icon name="solar:letter-linear" slot="beforeIcon" />{email}
    </ThemedLink>
</div>
