---
import type { Color, TextVariant } from '@/types';
import ThemedText from './ThemedText.astro';

type Props = {
    href: string;
    children: string | HTMLElement | HTMLElement[];
    button?: boolean;
    bold?: boolean;
    variant?: TextVariant;
    color?: Color;
};

const { href, button: asButton = false, bold, variant, color } = Astro.props;
---

<a
    href={href}
    target={href.startsWith('http') ? '_blank' : '_self'}
    class:list={[{ button: asButton }, { link: !asButton }]}
>
    <ThemedText variant={variant} bold={bold} color={color} centered={asButton}>
        <slot name="beforeIcon" slot="beforeIcon" />
        <slot />
        <slot name="afterIcon" slot="afterIcon" />
    </ThemedText>
</a>

<style define:vars={{ 'colors-text-link': color }}></style>
